ProjWebWCF1/ProjWebWCF1/Connected Services/MeuServicoWCF/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EquipamentoVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipamentoVO" nillable="true" type="tns:EquipamentoVO" />
</xs:schema>