ProjWebWCF1/ProjWebWCF1/Connected Services/MeuServicoWCF/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Servico/Servico/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidade" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidade" minOccurs="0" name="equipamentoVO" nillable="true" type="q1:EquipamentoVO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>