webLabInfo/webLabInfo/Connected Services/ServicoCrud/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/ServicoWCF/Servico/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidade" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidade" minOccurs="0" name="lab" nillable="true" type="q1:LabInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaLabInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isprojetor" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="qtdAlunos" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="qtdComputadores" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="sistemaOperacional" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="software3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PesquisaLabInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidade" minOccurs="0" name="PesquisaLabInfoResult" nillable="true" type="q2:ArrayOfLabInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabInfoStart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LabInfoStartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidade" minOccurs="0" name="LabInfoStartResult" nillable="true" type="q3:LabInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>