webLabInfo/webLabInfo/Connected Services/ServicoCrud/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidade" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidade" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LabInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projetor" type="xs:boolean" />
      <xs:element minOccurs="0" name="qtdAlunos" type="xs:int" />
      <xs:element minOccurs="0" name="qtdComputadores" type="xs:int" />
      <xs:element minOccurs="0" name="sistemaOperacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabInfo" nillable="true" type="tns:LabInfo" />
  <xs:complexType name="ArrayOfLabInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LabInfo" nillable="true" type="tns:LabInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabInfo" nillable="true" type="tns:ArrayOfLabInfo" />
</xs:schema>